@using CalendarApp1.Models
@using System.Runtime.InteropServices.JavaScript
<h3>@CurMonth.MonthName @CurMonth.Year</h3>

<div class="calendar">
    <div class="cell">Sunday</div>
    <div class="cell">Monday</div>
    <div class="cell">Tuesday</div>
    <div class="cell">Wednesday</div>
    <div class="cell">Thursday</div>
    <div class="cell">Friday</div>
    <div class="cell">Saturday</div>
    
    
    @for (var i = 0; i < CurMonth.StartDay; i++)
    {
        <div class="cell"></div>
    }

    @foreach (var day in @CurMonth.DaysList)
    {
        <Day DayModel="day"></Day>
    }
</div>

<h4 style="margin-top: -100px">Click on a day to create an event</h4>



@code {
    [Parameter, EditorRequired]
    public MonthModel CurMonth { get; set; }
    
    
    private Modal modal = default!;
    private string? message;
}
