@page "/Info"

<PageTitle>Instructions</PageTitle>

<h1>Home Tab</h1>
<h4>-Shows all the events in current month.</h4>

<h1>Calendar Tab</h1>
<h4>-Preview days.</h4>
<h4>-Create events.</h4>
<h4>-By clicking on an existing event, see details of a chosen day.</h4>

<h1>Event Creation</h1>
<h4>-To create an event, choose a month of your liking on the top.</h4>
<h4>-Click on a chosen day in month's grid.</h4>
<h4>-Set the time, title and contents of your event.</h4>
<h4>-Click "Create event" to save or "cancel" to discard.</h4>
