@page "/Info"

<PageTitle>Instructions</PageTitle>

<h1>Home Tab</h1>
<h4>-Shows all the events in current month.</h4>

<h1>Calendar Tab</h1>
<h4>-Preview days.</h4>
<h4>-Create events.</h4>
<h4>-By clicking on an existing event, see details of a chosen day.</h4>

<h1>Event Creation</h1>
<h4>-To create an event, choose a month of your liking on the top.</h4>
<h4>-Click on a chosen day in month's grid.</h4>
<h4>-Set the time, title and contents of your event.</h4>
<h4>-Click "Create event" to save or "cancel" to discard.</h4>

<h1>Deleting Events</h1>
<h4>-To delete an event, click on your event in calendar.</h4>
<h4>-Details tab will open, click the arrow on the right side of your event.</h4>
<h4>-Select "Delete" option, if you succeed, a warining is going to appear in the top right corner.</h4>

<h1>Weather Tab</h1>
<h4>-Chose from which day you want your forecast on the top date selection bar.</h4>
<h4>-There is a limited amount of days you can forecast. If you go beyond that limit, there will be no forecast displayed.</h4>
